{% extends 'template.html' %}
{% block content %}
<h2>Prisoners list</h2>

<form action="/prisoners" method="post">
    <input type="text" placeholder="Name..." name="name">
    <input type="text" placeholder="Surname..." name="surname">
    <input type="text" placeholder="Company..." name="company">
    <button type="submit">Submit</button>
</form>

<form action="/prisoners" method="post">
    <button type="submit">Show all</button>
</form>

<ul>
    {% for prisoner in prisoners %}
    {% if prisoner.company is not none %} 
    <li>{{ prisoner.prisoner.name }} {{ prisoner.prisoner.surname }}, employed in: {{ prisoner.company.full_name }}</li>
    {% else %}
    <li>{{ prisoner.prisoner.name }} {{ prisoner.prisoner.surname }}, unemployed</li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}