{% extends 'template.html' %}
{% block content %}
<h2>Prisoner: {{ prisoner.name }} {{ prisoner.surname }}, ID: {{ prisoner.id }}</h2>

<form action="{{ prisoner.id }}" method="post">
        
        <b>Add new qualification</b>
        <input type="text" placeholder="Enter skill name" name="skill" required>
        <input type="number" placeholder="Enter level" name="level" required>
        
        <button type="submit">Find</button>
    </div>
</form>

<br/>

<ul>
    {% for qualification in prisoner.qualifications %}
    <li>{{ qualification.skill }}, level: {{ qualification.level }}</li>
    {% endfor %}
</ul>
{% endblock %}