{% extends 'template.html' %}
{% block content %}
<form action="{{ url_for('post_qualifications') }}" method="post">
    <b>Find qualification for prisoner's id: </b>
    <input type="number" placeholder="Enter ID" name="prisoner_id" required>
    <button type="submit">Find</button>
</form>

{% if prisoner is not none %}  
<h2>Prisoner: {{ prisoner.name }} {{ prisoner.surname }}, ID: {{ prisoner.id }}</h2>

<form action="{{ prisoner.id }}" method="post">
    <b>Add new qualification</b>
    <input type="text" placeholder="Enter skill name" name="skill" required>
    <input type="number" placeholder="Enter level" name="level" required>
    
    <button type="submit">Add</button>
</form>

<br/>

<ul>
    {% for qualification in prisoner.qualifications %}
    <li>
        {{ qualification.skill }}, level: {{ qualification.level }}
        <form action="{{ url_for('delete_qualifications_by_id', prisoner_id=prisoner.id, qualification_id=qualification.id) }}" method='post'>
            <input type="hidden" name='qualification_id' value={{ qualification.id }}>
            <button type='submit' name='delete' value='Delete'>Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}